@model IEnumerable<ProjectMagic_ASP.Models.CollectionModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Bonjour @Model.Select(m => m.FirstName).FirstOrDefault()</h2>
<h3>Votre collection</h3>


<table class="table">
    <thead>
        <tr>
            <th> </th>
            <th>
                Exemplaires
            </th>          

            <th>
                Nom
            </th>
            <th>
                Edition
            </th>
            <th>
                Couleur
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @if (item.ColorId == 1)
            {
                <td style="background-color: rgba(255, 255, 255)">@*blanc*@</td>
            }
            @if (item.ColorId == 2)
            {
                <td style="background-color: #6AC78C ">@*vert*@</td>
            }
            @if (item.ColorId == 3)
            {
                <td style="background-color: #87D9FE">@*bleu*@</td>
            }
            @if (item.ColorId == 4)
            {
                <td style="background-color: #EC8F76">@*rouge*@</td>
            }
            @if (item.ColorId == 5)
            {
                <td style="background-color: rgba(0, 0, 0)">@*noir*@</td>
            }
            @if (item.ColorId == 6)
            {
                <td style="background-color: rgba(255, 255, 255,0)">@*incolore*@</td>
            }
            @if (item.ColorId == 7)
            {
                <td style="background-color: #BB9EF6">@*multicolore*@</td>
            }

            <td>
                @Html.DisplayFor(modelItem => item.NbCard) <span>x</span>
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CardName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColorName)
            </td>
            <td class="listIcons">

                <a asp-area=""
                   asp-controller="Viewer"
                   asp-action="GetCardById"
                   asp-route-id="@item.CardId"><i class="far fa-question-circle"></i></a>
            </td>

            <td class="listIcons text-center">
                @*Ajouter et enlever*@
                | @Html.ActionLink("", "Insert", new { controller = "Collection", id = item.CardId, fromController = "Collection", fromAction = "Index", fromMotiv = "plus" }, new { @class = "far fa-plus-square" })
                @if (item.NbCard > 1)@Html.ActionLink("", "Insert", new { controller = "Collection", id = item.CardId, fromController = "Collection", fromAction = "Index", fromMotiv = "moins" }, new { @class = "far fa-minus-square" }) |
            </td>


            <td class="listIcons">
                <a asp-controller="Collection"
                   asp-action="Delete"
                   asp-route-id="@item.Id"
                   class="delete-link"><i class="delete-icon fas fa-trash-alt"></i></a>
            </td>


        </tr>
}
    </tbody>
</table>
