@model ProjectMagic_ASP.Models.CardModel

@{
    ViewData["Title"] = "GetCardById";
}

@if (Model.ColorId == 1)
{
    <div class="text-center">
        <img src="/Image/White.png" /> <span class="h3">  &nbsp;&nbsp;  @Model.CardName</span>
    </div>
}
@if (Model.ColorId == 2)
{
    <div class="text-center">
        <img src="/Image/Green.png" /> <span class="h3"> &nbsp;&nbsp;   @Model.CardName</span>
    </div>
}
@if (Model.ColorId == 3)
{
    <div class="text-center">
        <img src="/Image/Blue.png" /> <span class="h3">  &nbsp;&nbsp;  @Model.CardName</span>
    </div>
}@if (Model.ColorId == 4)
{
    <div class="text-center">
        <img src="/Image/Red.png" /> <span class="h3">  &nbsp;&nbsp;  @Model.CardName</span>
    </div>
}@if (Model.ColorId == 5)
{
    <div class="text-center">
        <img src="/Image/Black.png" /> <span class="h3">  &nbsp;&nbsp;  @Model.CardName</span>
    </div>
}
@if (Model.ColorId == 6 || Model.ColorId == 7)
{
    <div class="text-center">
        <span class="h3">  &nbsp;&nbsp;  @Model.CardName</span>
    </div>
}


@if ((TempData["isLogged"]) != null && ((bool)TempData["isLogged"]) == true)
{
    <p>
        @Html.ActionLink("", "Insert", new { controller = "Collection", id = Model.Id, fromController = "Viewer", fromAction = "GetCardById", fromId = Model.Id }, new { @class = "fas fa-trophy" })
        <span> Ajout à ma collection</span>
    </p>
}

@if((TempData["DeckId"]) != null && (int)(TempData["DeckId"]) !=0)
{
<p>
    @Html.ActionLink("", "InsertCard", new { controller = "Deck", id = Model.Id, fromController = "Deck", fromAction = "ListCardToAdd" }, new { @class = "fas fa-dice" })
    <span> Ajout au deck</span>
</p>
} 



<div>

    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            Nom de la carte :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CardName)
        </dd>
        <dt class="col-sm-2">
            Coût :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class="col-sm-2">
            Force / Défense :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PS)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="col-sm-2">
            Edition :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EditionName)
        </dd>

        <dt class="col-sm-2">
            Rareté :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RarityName)
        </dd>

        <dt class="col-sm-2">
            Type :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeCardName)
        </dd>

        <dt class="col-sm-2">
            Sous-type :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SousTypeCardName)
        </dd>

        <dt class="col-sm-2">
            Couleur :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ColorName)
        </dd>
    </dl>
</div>
<div>

    <a asp-action="Index">Retour à la liste de toutes les cartes</a> <br />

    @if ((TempData["isLogged"]) != null && ((bool)TempData["isLogged"]) == true)
    {
        <a asp-action="Index" asp-controller="Collection">Retour à votre collection</a>

    }
</div>
