@model IEnumerable<ProjectMagic_ASP.Models.CardModel>

@{
    ViewData["Title"] = "ListCardByEdition";
}

<h3>@Model.FirstOrDefault().EditionName</h3>

<table class="table">
    <thead>
        <tr>  
            <th> </th>
            <th>
                Nom
            </th>
            <th>
                Coût
            </th>
            <th>
                Rareté
            </th>
            <th>
                Type de carte
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @if (item.ColorId == 1)
            {
                <td style="background-color: rgba(255, 255, 255)">@*blanc*@</td>
            }
            @if (item.ColorId == 2)
            {
                <td style="background-color: #6AC78C ">@*vert*@</td>
            }
            @if (item.ColorId == 3)
            {
                <td style="background-color: #87D9FE">@*bleu*@</td>
            }
            @if (item.ColorId == 4)
            {
                <td style="background-color: #EC8F76">@*rouge*@</td>
            }
            @if (item.ColorId == 5)
            {
                <td style="background-color: rgba(0, 0, 0)">@*noir*@</td>
            }
            @if (item.ColorId == 6)
            {
                <td style="background-color: rgba(255, 255, 255,0)">@*incolore*@</td>
            }
            @if (item.ColorId == 7)
            {
                <td style="background-color: #BB9EF6">@*multicolore*@</td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.CardName)
            </td>

            <td>
                @foreach (char i in item.Cost)
                {
                    switch (i)
                    {
                        case '1':
                        case '2':
                        case '3':
                        case '4':
                        case '5':
                        case '6':
                        case '7':
                        case '8':
                        case '9':<span>@i</span>; break;
                    case 'U': <img src="/Image/Blue.png" width="20" height="20" />break;
                    case 'R': <img src="/Image/Red.png" width="20" height="20" />break;
                    case 'G': <img src="/Image/Green.png" width="20" height="20" />break;
                    case 'W': <img src="/Image/White.png" width="20" height="20" />break;
                    case 'B': <img src="/Image/Black.png" width="20" height="20" />break;
                }

            }
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.RarityName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TypeCardName)
            </td>



            <td class="listIcons">
                <a asp-area=""
                   asp-controller="Viewer"
                   asp-action="GetCardById"
                   asp-route-id="@item.Id"><i class="far fa-question-circle"></i></a>

            </td>

            @if ((TempData["isLogged"]) != null && ((bool)TempData["isLogged"]) == true)
            {
                <td class="listIcons">

                    @*<a asp-area=""
                asp-controller="Collection"
                asp-action="Insert"
                asp-route-id="@item.Id"><i class="fas fa-trophy"></i></a>*@

                    @Html.ActionLink("", "Insert", new { controller = "Collection", id = item.Id, fromController = "Viewer", fromAction = "ListCardByEdition", fromId = item.EditionId }, new { @class = "fas fa-trophy" })

                </td>
            }
        </tr>
}
    </tbody>
</table>
