@model ProjectMagic_ASP.Models.CardFullModel

@{
    ViewData["Title"] = "ListCard";
    //Layout = "../Shared/_AdminLayout.cshtml";
}

<h1>Liste des cartes</h1>

<form asp-controller="Viewer" asp-action="ListCard">

    <div class="form-group">
        <label class="control-label">Nom</label>
       
        <input type="text" class="form-control" name="name" />
    </div>

    <div class="form-group">
        <label class="control-label">Couleur</label>


     @Html.DropDownList("color", new SelectList(Model.ListColors.Select(l =>l.Name)), "Couleur", new { @class = "form-control" })

        @*<select name="color" class="form-control">
            <option value="">-</option>
            <option value="Rouge">Rouge</option>
            <option value="Bleu">Bleu</option>
            <option value="Vert">Vert</option>
            <option value="Blanc">Blanc</option>
            <option value="Noir">Noir</option>
            <option value="Multicolore">Multicolore</option>
            <option value="Incolore">Incolore</option>
        </select>*@
    </div>

    

    <div class="form-group">
        <label class="control-label">Type</label>

        @Html.DropDownList("type", new SelectList(Model.ListTypes.Select(l => l.Name)), "Types", new { @class = "form-control" })

        @*<select name="type" class="form-control">
            <option value="">-</option>
            <option value="Créatures">Créatures</option>
            <option value="Artefacts">Artefacts</option>
            <option value="Auras">Auras</option>
            <option value="Enchantements">Enchantements</option>
            <option value="Ephémères">Ephémères</option>
            <option value="Arpenteurs">Arpenteurs</option>
            <option value="Rituels">Rituels</option>
            <option value="Terrains">Terrains</option>
        </select>*@
    </div>

    <div class="form-group">
        <label class="control-label">Rareté</label>
        @Html.DropDownList("rarity", new SelectList(Model.ListRaretes.Select(l => l.Name)), "Rareté", new { @class = "form-control" })
        @*<select name="rarity" class="form-control">
            <option value="">-</option>
            <option value="Mythiques">Mythiques</option>
            <option value="Rares">Rares</option>
            <option value="Peu communes">Peu communes</option>
            <option value="Communes">Communes</option>
        </select>*@
    </div>

    <div class="form-group">
        <input type="submit" value="Recherche" />
    </div>

</form>

<h4>Voici 30 cartes aléatoires</h4>

<p class="create">
    <a class="nav-link text-dark" asp-area="" asp-controller="Viewer" asp-action="ListCard"><i class="create-icon fas fa-plus-square"></i> Nouveau tirage aléatoire</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Nom
            </th>
            <th>
                Coût
            </th>
            <th>
                Rareté
            </th>
            <th>
                Type de carte
            </th>
            <th>
                Couleur
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ListCards)
{
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.CardName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.RarityName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TypeCardName)
            </td>

            @{ if (item.ColorName == "Rouge")
                {
                    <td style="color:#FF0000"> Rouge </td>
                }
                if (item.ColorName == "Bleu")
                {
                    <td style="color:#0000FF"> Bleu </td>
                }
                if (item.ColorName == "Vert")
                {
                    <td style="color:#4cff00"> Vert </td>
                }
                if (item.ColorName == "Noir")
                {
                    <td style="color:#000000"> Noir </td>
                }
                if (item.ColorName == "Blanc")
                {
                    <td style="color:#808080"> Blanc </td>
                }
                if (item.ColorName == "Multicolore")
                {
                    <td style="color:#b200ff"> Multicolore </td>
                }
                if (item.ColorName == "Incolore")
                {
                    <td style="color:#FFd000"> Incolore </td>
 }
            }

            <td>

                @Html.ActionLink("Détails de la carte", "GetCardById", new { id = item.Id })

            </td>
        </tr>
}
    </tbody>
</table>
