@model IEnumerable<ProjectMagic_ASP.Models.EditionModel>

@{
    ViewData["Title"] = "ListEdition";
}

<h3>Les éditions</h3>

<form asp-controller="Viewer" asp-action="ListEdition">
    <p>
        <input type="text" name="name" />
        <input type="submit" value="Recherche par nom" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Id)
            </th>*@
            <th>
                Nom
            </th>
            <th>
                Nombre de cartes
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NbMax)
            </td>
            <td>
                
                @Html.ActionLink("Liste des cartes pour cette édition", "ListCardByEdition", new { id=item.Id}) 
                
            </td>
        </tr>
}
    </tbody>
</table>
