@model IEnumerable<ProjectMagic_ASP.Models.CardModel>

@{
    ViewData["Title"] = "ListCardByEdition";
}

<h3>@Model.FirstOrDefault().EditionName</h3>

<table class="table">
    <thead>
        <tr>          
            <th>
                Nom
            </th>
            <th>
                Coût
            </th>
            <th>
                Rareté
            </th>
            <th>
                Type de carte
            </th>
            <th>
                Couleur
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.CardName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.RarityName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TypeCardName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ColorName)
            </td>

            <td class="listIcons">
                <a asp-area=""
                   asp-controller="Viewer"
                   asp-action="GetCardById"
                   asp-route-id="@item.Id"><i class="far fa-question-circle"></i>Détail</a>

            </td>

            @if ((TempData["isLogged"]) != null && ((bool)TempData["isLogged"]) == true)
            {
        <td class="listIcons">

            @*<a asp-area=""
        asp-controller="Collection"
        asp-action="Insert"
        asp-route-id="@item.Id"><i class="fas fa-trophy"></i></a>*@

            @Html.ActionLink("", "Insert", new { controller = "Collection", id = item.Id, fromController = "Viewer", fromAction = "ListCardByEdition", fromId=item.EditionId }, new { @class = "fas fa-trophy" })

        </td>
            }
        </tr>
}
    </tbody>
</table>
