@model ProjectMagic_ASP.Models.DeckModel

@{
    ViewData["Title"] = "ListCardByDeck";
}

<h1>@Model.cid.Select(m => m.DeckName).FirstOrDefault()</h1>

<div class="border border-dark text-dark p-2">

    <p>
        Arpenteurs : @Model.NbArpenteurs
        <br />Créatures : @Model.NbCreatures
        <br />Artefacts : @Model.NbArtefacts
        <br />Sorts : @Model.NbSorts
        <br />Terrains : @Model.NbTerrains
    </p>

    <p class="border border-top p-2 text-center ">
        <a asp-action="ListCardToAdd"><i class="create-icon fas fa-plus-square"></i> Ajouter une carte</a>
    </p>

    @if(Model.NbCard >= 40) 
            {
                <p class="border border-top p-2 text-center ">
                    <a asp-action="AdapterTerrain" asp-route-id="@Model.NbCard"><i class="create-icon fas fa-plus-square"></i> Calculez les terrains</a>
                    @*@Html.ActionLink("Ajoutez vos terrains", "AdapterTerrain", new { nb = Model.NbCard }, new { @class = "far fa-plus-square" })*@
                </p>
            }
    
    
</div>


<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
               
            </th>
            <th>
                Nom
            </th>
            <th>
                Coût
            </th>

            <th>
                Puissance
            </th>

            @*<th>
                Rareté
            </th>*@
            <th>
                Type
            </th>
            <th>
                Sous-type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.cid) {
        <tr>
            @if (item.ColorId == 1)
            {
                <td style="background-color: rgba(235, 235, 235)">@*blanc*@</td>
            }
            @if (item.ColorId == 2)
            {
                <td style="background-color: #2d7e0b">@*vert*@</td>
            }
            @if (item.ColorId == 3)
            {
                <td style="background-color: rgba(35, 35, 255)">@*bleu*@</td>
            }
            @if (item.ColorId == 4)
            {
                <td style="background-color: rgba(255, 0, 0)">@*rouge*@</td>
            }
            @if (item.ColorId == 5)
            {
                <td style="background-color: rgba(0, 0, 0)">@*noir*@</td>
            }
            @if (item.ColorId == 6)
            {
                <td style="background-color: rgba(255, 255, 255)">@*incolore*@</td>
            }
            @if (item.ColorId == 7)
            {
                <td style="background-color: #65068e">@*multicolore*@</td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.NbCard) <span> x</span>
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CardName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PS)
            </td>

            @*<td>
            @Html.DisplayFor(modelItem => item.RarityName)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SousTypeName)
            </td>
            <td class="listIcons">

                <a asp-area=""
                   asp-controller="Viewer"
                   asp-action="GetCardById"
                   asp-route-id="@item.CardId"><i class="far fa-question-circle"></i></a>
            </td>

            <td class="listIcons text-center">
                @*Ajouter et enlever*@
                | @if (item.NbCard < 4)@Html.ActionLink("", "InsertCard", new { controller = "Deck", id = item.CardId, fromController = "Deck", fromAction = "ListCardByDeck", fromMotiv = "plus", fromId = Model.Id }, new { @class = "far fa-plus-square" })
                <span> </span>
                @if (item.NbCard > 1)@Html.ActionLink("", "InsertCard", new { controller = "Deck", id = item.CardId, fromController = "Deck", fromAction = "ListCardByDeck", fromMotiv = "moins", fromId = Model.Id }, new { @class = "far fa-minus-square" }) |
            </td>


            <td class="listIcons">
                <a asp-controller="Deck"
                   asp-action="DeleteCard"
                   asp-route-id="@item.Id"
                   class="delete-link"><i class="delete-icon fas fa-trash-alt"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
