@model ProjectMagic_ASP.Models.CardFullModel

@{
    ViewData["Title"] = "ListCardToAdd";
}

<h3>Complétez votre deck</h3>

<form asp-controller="Deck" asp-action="ListCardToAdd">

    <div class="form-group">
        <label class="control-label">Nom</label>

        <input type="text" class="form-control" name="name" />
    </div>

    <div class="form-group">
        <label class="control-label">Type</label>
        @Html.DropDownList("type", new SelectList(Model.ListTypes.Select(l => l.Name)), "Types", new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label class="control-label">Sous-type</label>
        @Html.DropDownList("sousType", new SelectList(Model.ListSousTypes.Select(l => l.Name)), "Sous-types", new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label class="control-label">Rareté</label>
        @Html.DropDownList("rarity", new SelectList(Model.ListRaretes.Select(l => l.Name)), "Rareté", new { @class = "form-control" })
    </div>

    <div class="form-group">
        <input type="submit" value="Recherche" />
    </div>

</form>



<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                Nom
            </th>
            <th>
                Coût
            </th>
            <th>
                Rareté
            </th>
            <th>
                Type de carte
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ListCards) {
        <tr>
            @if (item.ColorId == 1)
            {
                <td style="background-color: rgba(235, 235, 235)">@*blanc*@</td>
            }
            @if (item.ColorId == 2)
            {
                <td style="background-color: #2d7e0b">@*vert*@</td>
            }
            @if (item.ColorId == 3)
            {
                <td style="background-color: rgba(35, 35, 255)">@*bleu*@</td>
            }
            @if (item.ColorId == 4)
            {
                <td style="background-color: rgba(255, 0, 0)">@*rouge*@</td>
            }
            @if (item.ColorId == 5)
            {
                <td style="background-color: rgba(0, 0, 0)">@*noir*@</td>
            }
            @if (item.ColorId == 6)
            {
                <td style="background-color: rgba(255, 255, 255)">@*incolore*@</td>
            }
            @if (item.ColorId == 7)
            {
                <td style="background-color: #65068e">@*multicolore*@</td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.CardName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.RarityName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TypeCardName)
            </td>

            
            

            <td class="listIcons">
                <a asp-area=""
                   asp-controller="Viewer"
                   asp-action="GetCardById"
                   asp-route-id="@item.Id"><i class="far fa-question-circle"></i></a>

            </td>

            @if ((TempData["isLogged"]) != null && ((bool)TempData["isLogged"]) == true)
            {
                <td class="listIcons">

                    @*<a asp-area=""
                asp-controller="Collection"
                asp-action="Insert"
                asp-route-id="@item.Id"
                asp-route-from="ListCard"><i class="fas fa-trophy"></i></a>*@
                    @*@Html.ActionLink("", "Insert", new { controller = "Collection", id = item.Id, from = new UrlModel { Controller = "Viewer", Action = "ListCard" } }, new { @class = "fas fa-trophy" })*@
                    @Html.ActionLink("", "InsertCard", new { controller = "Deck", id = item.Id, fromController = "Deck", fromAction = "ListCardToAdd" }, new { @class = "fas fa-dice" })

                </td>
            }
        </tr>
}
    </tbody>
</table>
